@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image
{
    background-image: url('https://cdn11.bigcommerce.com/s-fz2bnmwg7y/images/stencil/1920w/image-manager/dorit-duckling-boat-race-hero.jpg?t=1741089073');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.h1
{
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
}
